<!-- card -->
{% for item in itens %}
<div class="col-xl-4">
    <div class="card" style="width: 18rem;">
        <img src="{{item.image.url}}" class="card-img-top img-thumbnail" style="border: 0; height: 200px;" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <a href="{% url 'visualizar_item' item.id %}" class="btn btn-primary">Visualizar</a>
    </div>
</div>
{% endfor %}