{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %}
<title>Edit</title>
{% endblock %}
{% block content %}
  <div style="font-family: Courier New;" class="container">
    {% if clothes.path %}
      <img src="{{clothes.path.url}}" alt="{{clothes.title}}" width="200px" height="200px">
    {% endif %}
    <form action="{% url 'edit_clothes' clothes.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <div class="text-center">
        <button type="submit" class= "btn btn-info">Atualizar</button>
      </div>
    </form>
  </div>
      
{% endblock %}
